.axis path,
.axis line {
  fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

svg {
	overflow: visible;
}

div {
	margin-top: 3cm;
	position : relative;
	top : 50px;
	left : 1000px;
}

input[type=radio] {
	position : absolute;
	visibility: hidden;
}

input[type=radio] + label {
	display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border: 2px solid #444;
    border-radius: 4px;

}

input[type=radio]:checked + label{
  background-color:gold;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
   stroke: #000;
   stroke-opacity: 0.3;
   stroke-width: 10px;
 }
 
 .track-inset {
   stroke: #dcdcdc;
   stroke-width: 8px;
  }
  
 .track-overlay {
 	pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent; 
 }
 
 .handle {
 	fill: #fff;
 	
 
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
 }


#PlayButton1, #PlayButton2, #PauseButton1, #PauseButton2, #RewindButton1, #RewindButton2 {
	position : relative;
    top: 0px;
    left: 200px;
	background: #f08080;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border: 2px solid #444;
    border-radius: 3px;
}


#linear-gauge {
  position : relative; 
}
